body{
    padding:0px;
}
.no-top-padding{
    padding-top:0px;
}
.is-hush{
    background-color:#333348;
}

.hero.is-hush .title {
    color: #fff;
}
.hero.is-hush .subtitle {
    color: #fff;
}
.hero.is-hush a {
    color: #fff;
}
.hero.is-hush a:hover {
    color: inherit;
    background-color:#fff;
}
.hero.is-hush .tabs li.is-active a {
    color: inherit;
}