body {
  margin: 0px;
  padding: 20px;
  padding-top: 0px;
  background-color: #fff;
}

.container-fluid {
  width: 100%;
}

.navbar {

}

.hero-image {
  width: 90%;
}

.sidebar {
  background-color: #e3e3e3;
}

.content {
  margin: 20px auto;
}

h1 {
  color: #3e3e3e;
}

.hero-unit {
  width: 100%;
}
